$navbar-default-bg: black;

@import "bootstrap";
@import "bootstrap-sprockets";
@import "wice_grid";
@import "font-awesome-sprockets";
@import "font-awesome";

#logo{
	float:left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}
#logo:hover{
	color: #fff;
	text-decoration: none;
}

.welcome
{
	margin-top:12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.share
{
	margin-top:10px;
	font-weight: bold;
}

.navbar-nav > li {
  font-size: 20px;
  color: white;
  }
.dropdown-menu {
    font-size: 15px;
  }


.center{
	text-align: center;
}

.navbar-brand{
	font-size : 20px;

}

.navbar-brand:hover{
	color: #fff;
	text-decoration: none;
	}


.jumbotron{
	background-image: asset-url('Pratham.jpg');
	background-size: cover;
	height: 750px;
	}

.jumbotron h1
{
	color: blue;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: - 1px;
	font-weight: bold;
}